html {
	height: 100%;
	background-color: rgb(201, 0, 201);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	body {
		height: 100%;
		margin: 0;
		#site {
			height: 100%;
			box-sizing: border-box;
			padding: 20px;
		}
	}
}
